.footer-copy {
  color: $aquaman-bgcolor;
  font-size: smaller;
}

.footer-logo {
  background-color: $aquaman-bgcolor;
}

.news-article {
  text-align: justify;
  width: 90%;
  margin: 0 auto;
  padding: 3% 0 2%;
}

.news-quote {
  font-size: larger;
  font-weight: bolder;
}

.news-next {
  text-align: center;
  padding-top: 3%;
  padding-bottom: 5%;
  background-color: $aquaman-bgcolor;
}

.news-lists {
  width: 50%;
  margin: 5% auto;
}
