.navbar-light .nav-item.active .nav-link,
.navbar-light .nav-item:focus .nav-link,
.navbar-light .nav-item:hover .nav-link,
.navbar-light .navbar-brand {
        color: $aquaman-color;
}

.card-body{
    background-color: $aquaman-bgcolor;
    border: 1px solid $aquaman-color;
}